@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
.espace{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#base{
    width: 29rem;
    height: 16rem;
    border-radius: 0.4375rem;
    background: #86A789;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.titulo{
    display: flex;
    justify-content: flex-start;
    margin-left: 2.5rem;
}
#t1{
    color: #EBF3E8;
    font-family: 'Inter', sans-serif;
    font-size: 1.50rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subt{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2.6rem;
}
#t2{
    color: #EBF3E8;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.75rem;
}
.group{
    height: 7rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -1rem;
}
#bl1{
    width: 3.9375rem;
    height: 3.9375rem;
    background: #B2C8BA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 50%;
}
#bl2{
    width: 3.9375rem;
    height: 3.9375rem;
    background: #B2C8BA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 50%;
}
#bl3{
    width: 3.9375rem;
    height: 3.9375rem;
    background: #B2C8BA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 50%;
}
#bl4{
    width: 3.9375rem;
    height: 3.9375rem;
    background: #B2C8BA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 50%;
}
button{
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #B2C8BA;
}
#sc1{
    background-image: url(./img/facebook.svg);
    background-size: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #1A4789;
}
#sc2{
    background-image: url(./img/twitter.svg);
    background-size: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #000000;
}
#sc3{
    background-image: url(./img/linkedin.svg);
    background-size: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.77rem;
    margin-top: 0.8rem;
}
#sc4{
    background-image: url(./img/instagram.svg);
    background-size: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20%;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.77rem;
    margin-top: 0.8rem;
}
.group2{
    width: 24rem;
    height: 2.5rem;
    border-radius: 0.1875rem;
    background: #B2C8BA;
    display: flex;
    justify-content: center;
    margin-left: 2.6rem;
}
#area{
    width: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2rem;
}
#icon{
    width: 1.5rem;
    height: 1.2rem;
    background-image: url(./img/svg-copy.svg);
    background-size: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0.25, 0, 0));
    border-radius: 20%;
    margin-top: 0.2rem;
    margin-left: 2rem;
}
#link{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}